/* トップ画面 */

.header-top{
    background-color: blueviolet;
    height: 70px;
}

.folderArea{
    background-color: aqua;
    margin-top: 40px;
    width: 1000px;
    height: 1000px;
    margin-left: 20px;
}



.complete-top{
    background-color: red;
    height: 200px;
    margin-top: 50px;

}





.folderName{
    font-size: 10px;
}



.folder{
    display:inline-block;
    padding:20px;
}

/* 一覧画面 */
.header-list{
    background-color: red;
    height: 100px;
}
.current_folder{
    background-color: aqua;
    float: left;
    width: 150px;

    
}

.new_memo{
    background-color: lightgreen;
    float: right;
    height: 70px;
}

.complete-list{
    /* background-color: limegreen; */
    float: left;
    width: 500px;
    height:600px;
    margin-left: 200px;
    margin-top: 50px;
}

.doing-list{
    /* background-color: brown; */
    float: right;
    width: 500px;
    height:600px;
    margin-right: 200px;
    margin-top: 50px;
}

.recordArea{
    /* background-color: blue; */
    height: 650px;
}

table{
    border-collapse: collapse; /* セルが境界線を共有するか分離するかを設定 */
    width: 80%;
    
  }

table td{
padding: 3px; /* 各セルの広さ */
text-align: center;
border:solid 1px #aaaaaa; /* 枠線の太さ */
background:#fff;

}

table tr:nth-child(odd) td {  
    background-color: #eee; 
}  

table td:hover{
    background:#fff;	
    cursor: pointer;
    opacity:0.5;
    }

/* 学習記録記入画面 */

.header-is{
    background-color: red;
    height: 100px;
}

.date{
    float: right;
    background-color: aqua;
}

.main{
    background-color: darkgreen;
    height: 200px;
    margin-top: 100px;
}

#test0{
    display: none;
}



.solution{
    background-color: brown;
}

.btn-is{
    background-color: coral;
    float: right;

}

.box{
    margin-bottom: 20px;
}

.plus{
    font-size: 25px;
}

.plus:hover{
    cursor: pointer;
}

/* フォルダアイコン */
.fa-folder{
    color: #FFFF66;
}

.delete,
.folderDelete {
    color: #ccc;
    cursor: pointer;
  }

 #modal {
    background-color: #ccc;
    width: 400px;
    height: 300px;
    text-align: center;
    margin:0 auto;
    display: none;
    position: fixed; 
    /* top:40px;
    left:40px; */
    z-index: 2;
 } 

 #modal-bg{
     z-index: 1;
     position:fixed;
     display: none ;
     top:0;
     left:0;
     width: 100%;
     height:120%;
     background-color: rgba(0,0,0,0.75);
 }

/* 編集画面 */

.cloneTarget{
    display: none;
}

/* 閲覧画面 */

